# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gitignore
.idea/aera.iml
.idea/artifacts/
.idea/compiler.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
target/
.idea/
aera.iml
/out/
out/artifacts/aera/WEB-INF/classes/
out/artifacts/aera/WEB-INF/lib/
out/artifacts/aera/WEB-INF/views/admin.jsp
out/artifacts/aera/WEB-INF/views/index1.html
out/artifacts/aera/WEB-INF/views/js/
out/artifacts/aera/WEB-INF/views/password.jsp
out/artifacts/aera/WEB-INF/views/story.jsp
out/artifacts/aera/WEB-INF/views/user.jsp
out/artifacts/aera/WEB-INF/views/worker.jsp
src/main/java/io/aera/model/Text.java
src/main/java/io/aera/model/TextImple.java
src/main/java/io/aera/service/
src/test/
web/WEB-INF/views/admin.jsp
web/WEB-INF/views/index1.html
