.header {
    widht: 200px;
    height: 60px;
    line-height: 30px;
    text-align: center;
    color: #ff9900;
    border: 1px dotted black;
}

.navigation {
    widht: 200px;
    height: 40px;
    line-height: 30px;
    text-align: left;
    text-indent: 20px;
    color: white;
    background-color: #4b4b4b;
    border: black 1px dotted;
}

.sidebar {
    alignment: center;
    widht: 200px;
    height: 300px;
    border: 1px;
    float: left;
}

.content {
    widht: 200px;
    height: 300px;
    border: 1px dotted black;
    margin-left: 200px;
}

.footer {
    widht: 200px;
    height: 130px;
    border: 1px dotted black;
}